.page {
  min-height: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.gradientOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #9def25, #1e2e00);
  z-index: -1;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
  padding-right: 64px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.titleImage {
  width: auto;
  height: auto;
}

.cardContent {
  background-color: #1C1C1C;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  min-height: 600px;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.characterInfoWrapper {
  width: 100%;
}

.favsWrapperDesktop {
  width: 100%;
}

.favsWrapperMobile {
  display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .page {
    padding-bottom: 64px;
  }

  .gradientOverlay {
    height: 65px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .cardContent {
    flex-direction: column;
    background-color: transparent;
    position: relative;
  }

  .rightColumn {
    order: 1;
    margin-bottom: 32px;
  }

  .characterInfoWrapper {
    order: 2;
    padding-left: 32px;
    padding-right: 32px;
  }

  .favsWrapperDesktop {
    display: none;
  }

  .favsWrapperMobile {
    display: block;
    order: 3;
    margin-top: 64px;
  }
}

