.page {
  min-height: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.titleImage {
  width: auto;
  height: auto;
}

.cardContent {
  padding: 24px;
  display: flex;
  gap: 16px;
}

