.page {
  min-height: 100vh;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.gradientOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, #9def25, #1e2e00);
  z-index: -1;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.titleImage {
  width: auto;
  height: auto;
}

.cardContent {
  background-color: #1C1C1C;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  min-height: 600px; /* Equivalent to 2x2 grid of characters (2 rows) */
}

