.card {
  background-color: rgba(33, 33, 33, 0.8);
  padding: 12px 24px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 15px 15px 30px #191919;
  overflow: hidden;
  border: 2px solid transparent;
  transition: box-shadow 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  background-color: rgba(79, 79, 79, 0.8);
  box-shadow: 15px 15px 30px #191919;
}

.card.selected {
  background-color: rgba(79, 79, 79, 0.8);
  box-shadow: 15px 15px 30px #191919;
  border-color: var(--primary);
}

.title {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 8px;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
}

.favoriteButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.favoriteIcon {
  filter: brightness(0) invert(1);
  transition: filter 0.2s;
}

.favoriteIconActive {
  filter: brightness(0) saturate(100%) invert(15%) sepia(94%) saturate(7151%) hue-rotate(353deg) brightness(95%) contrast(89%);
  transition: filter 0.2s;
}

