.card {
  background-color: #2c2c2c;
  padding: 24px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: box-shadow 0.2s, outline 0.2s;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

.title {
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-bottom: 8px;
}

.imageContainer {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
}

